*{
  list-style: none;
  text-decoration: none;
}

.hello{
  padding-top: 50px;
  width:1000px;
  margin:0 auto;
}
header{
  width:100%;
  height:70px;
  border-bottom: 5px solid #333;
}
h1{
  text-align: center;

}
.main-menu{
  width: 1000px;
  height: 40px;
  border-bottom: 1px solid #333;
}
.main-menu li{
  float: left;
  width: 240px;
  text-align: center;
}
#sub-menu{
  margin-top: -10px;
  width: 1000px;
  height: 364px;
  border-bottom: 1px solid #333;
}
#sub-menu li{
  float: left;
  width: 240px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 1.2em;
}
.hello-section{
  text-align: center;
  border-bottom: 1px solid #333;
}
section p {
  margin-bottom: 50px;
}

button{
  margin-top: 10px;
  background-color: grey;
  border: 0;
  width: 70px;
  height: 30px;
  cursor: pointer;
}
button a{
  display: block;
  color: whitesmoke;
}
.btn-cover{
  width: 300px;
  margin-left: 365px;
}
.btn-cover button{
  background-color: #fff;
  border: 1px solid #333;
}